@charset "utf-8";
/* CSS Document */
.about-background {
	background: linear-gradient(360deg, rgba(246, 74, 65, 0.9), rgba(246, 74, 73, 0.9));
}

.aboutme_lines {
	color: white;
	text-align: center;
	font-family: 'Lobster Two', cursive;
	right: 10px;
	padding-top: 0;
	line-height: 1.9;
	padding-bottom: 25px;
}

.progress,
.progress-bar{
	height: 5px;
}


.courses{
	font-family: 'Lobster Two', cursive;
}